h1{
    color:rgb(211, 42, 79);
}

.header *{
    text-decoration: none;
}
.menu{
   
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
   
}

body{
    margin: 0px;
    background-color: #0670fc;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
    position: relative;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.origami{
    border-radius:20px ;
    background-color: #faf8f9;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

a:link{
    color:#FFFFFF
}

a:visited{
    color: azure;
}

.origami:hover {
    transform: scale(1.2);
}
.origami{
    position: relative;
}

.origami p{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
